.spyproject
.vscode/
__pycache__
tests/.coverage
build
*.egg-info
env
tags
_build
_static
_template
config/import_config.config
mardi_importer/mardi_importer/scripts/CRAN.log
bot_scripts/.ipynb_checkpoints/
