atomicwrites
attrs
bs4
certifi
chardet
colorama
configparser
coverage
green
idna
importlib-metadata
lxml
MarkupSafe
more-itertools
mysql-connector-python
packaging
pandas
pluggy
py
pyparsing
pytest
pytest-cov
requests
six
Unidecode
urllib3
wcwidth
zipp
sphinx
sphinx-argparse
sphinx-rtd-theme
sparqlwrapper
wikibaseintegrator